body{margin: 0 auto;
text-align: center;
-webkit-print-color-adjust: exact;}

header {display: flex;
background: skyblue;}

#logo{
font-size: 200%;
color:#51361a;
border-right: solid 2px #51361a;}

.buy{text-decoration: none;
right: 0;
top:50%;
position: fixed;
font-size: 150%;
border: solid 3px gray;
background: skyblue;
color: #51361a;
}

.global{display: flex;
padding: 5% 0;
width: 100%;}
.global li{color: #51361a;
  font-size: 135%;
 list-style: none;
padding: 0 10%;}

.main-visual{background-image:url("../img/mainimg.jpg" ) !important;
background-size: cover;
padding:  14% 5%;
text-align: left;
color: skyblue;
}
.main-visual  h1{font-size:300%;
margin-bottom:1%;}
.main-visual p{font-size: 180%;
color: white;}


.concept ul{display: flex;
  padding: 10%;
background:white;}

.concept h1{font-size: 200%;
  color: #51361a;
  padding: 5%;
border-bottom: solid 3px #51361a;}
.concept li{  width: 100%;
  margin: 5% 3% ;
  padding:3%;
border: solid  5px gray;
border-radius: 20%;}
.concept h2{font-size: 120%;
font-weight: bold;
border-bottom: solid 2px gray;
}

.function ul{display: block;}
.function li{
border-radius: 20%;
  background: #51361a; !important
  padding: 10% 0;
margin:5% 25%;}
.function h1{font-size: 200%;
border-top: solid 3px gray;
  color:#51361a;
}
.function h2{font-size: 150%;
  border-bottom: solid 2px skyblue;
color: white;
padding: 5% 0;}

.function p{color: white;
padding:10%;}




.voice h1{font-size: 200%;
  color:#51361a;
border-bottom: solid 3px gray;}
.voice ul{display: flex;}
.voice li{display: block;
margin: 5%;}

.voice img{border-radius: 50%;
width: 300px;
height: 300px;}
.voice h2{font-size: 150%;}

.spec table{width: 100%;
border-collapse:  collapse; }
.spec th,td {border: solid 1px;
padding: 3%;
text-align: center;}
.spec {margin:10%;}
.spec h1{font-size: 200%;
  color:#51361a;
}


.link {margin: 10% 0;}
.link a{color: white;
font-size: 200%;
border-radius: 50%;
background: #51361a;
padding: 2% 25%;
text-decoration: none;}

footer {padding: 5%;
background: black;
color: white;
}


@media (max-width: 600px){

body, header, .global, .concept ul, .voice ul{display: block;
width: 100%;}

#logo{border: none;}
.global{display: none;}
.main-visual{background-size: 100%;
background-repeat: no-repeat;}
.main-visual p{font-size: 130%;
margin: 1%;}

.title{width: 100%;}
.title h1{font-size: 150%;}
.link a{
font-size: 200%;
padding: 1% 10%;
}

.buy{top:0;}


}
