body{margin: 0 auto;
text-align: center;
-webkit-print-color-adjust: exact;}

/*header {
background-image: url(../img/mame.jpg);
background-repeat: no-repeat;
background-size: cover;
} */





.title h1{font-size:600%;
font-weight: bold;
color: #51361a;
padding: 5%;}

.main-visual{display: flex;
  background-image: url(../img/main2.jpg);
  background-size: cover;
padding: 30%;}

.main-visual img {width: 50%;
  height:50%;}

.concept{background:#51361a;
width: 50%;
color: white;
margin: 3% auto;
padding: 3%;
border-radius: 5%;}

.concept h1{  font-size: 200%;
  padding: 3% 0;
border-bottom: solid white 3px;}

.concept li{margin: 1%;
font-size: 130%;}



.function{ width: 50%;
   background: skyblue;
   color: #51361a;
   margin: 3% auto;
   padding: 3%;
border-radius: 10%;
border: solid #51361a 3px;}

.function p{font-size: 150%;}

.function h1{font-size: 200%;
    padding: 3% 0;
border-bottom: solid  #51361a 3px;}

/*
.voice h1{font-size: 200%;
  color:#51361a;
border-bottom: solid 3px gray;}
.voice ul{display: flex;}
.voice li{display: block;
margin: 5%;}
.voice p{font-size:110%;
color: blue;}
.voice img{border-radius: 50%;
width: 200px;
height: 200px;}
.voice h2{font-size: 140%;
color: red;}

 */

.spec table{width: 100%;
border-collapse:  collapse; }
.spec th,td {border: solid 3px;
padding: 5%;
text-align: center;}
.spec {margin:10%;}

.spec h1{font-size: 200%;
  color:#51361a;}


.link {margin: 10% 0;}
.link a{color: white;
font-size: 200%;
border-radius: 50%;
background: #51361a;
padding: 2% 25%;
text-decoration: none;}

footer {padding: 5%;
background: black;
color: white;
}


@media (max-width: 600px){

body, .concept, .function{display: block;
width: 100%;}


.main-visual{background-size: 100%;
background-repeat: no-repeat;}
.main-visual p{font-size: 130%;
margin: 1%;}

.title{width: 100%;}
.title h1{font-size: 200%;
padding: 3%;}
.function{padding: 3%;}

.link a{
font-size: 200%;
padding: 1% 10%;
}

.buy{top:30%;}


}
